/*CSS RESET*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Font Style*/
body{
	font-family: "Open Sans", sans-serif;
}

/*Header*/
.header{
	text-align: center;
	font-size: 35px;
}

/*Succeed Info*/
#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h3{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: none;
	margin-bottom: 1rem;
}

/*Card*/
#succeed-info .card{
	margin-bottom: 1rem;
}

/*Pre Footer*/
#pre-footer{
	background-color: navy;
}

#pre-footer .foot{
	color: white;
	display: inline-block;
	vertical-align: top;
	width: 10vw;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: .5rem;
	margin-right: 12rem;

}

.foot h3{
	font-weight: bold;
}

/*FOOTER SECTION*/
footer{
	padding: .7rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
	/*shorthand: margin: 0 .5rem*/
}